/*---RESET---*/
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {

  font-family: 'Fredoka', sans-serif;
}

/* utility */
.container {
  margin: 0 auto;
  width: 1200px;
}

.debug {
  border: 1px solid red;
}




/*--- general---*/
body {
  background-image: url('../img/cork.png');
}


/*----HEADER----*/
header {
  background-image: url('../img/wall.png');
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 4.5rem;
  font-style: italic;
  font-weight: 600;
}

/*----MAIN----*/
main {
  margin-top: 50px;
}

/*---cards---*/
.row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.col {
  position: relative;
  width: calc(33.33% - 20px);
}

/*---card---*/
/*transition permette di controllare l'animazione con la durata*/
/*transform permette di scalare,ruotare, traslare e inclinare*/
/*box-shadow mette l'ombra*/
.card {
  height: 450px;
  padding: 15px;
  background-color: white;
  margin-bottom: 30px;
  border-radius: 0%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card:hover {
  transform: scale(1.1) rotate(10deg);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover .pin-png {
  display: none;
}

.pin-png {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.photo-img {
  height: 80%;
}

.photo-img img {
  width: 100%;
  height: 100%;
}

.photo-text {
  height: 20%;
  padding-top: 10px;
  color: rgb(86, 86, 77);
  font-style: italic;
}

p {
  text-transform: capitalize;
}

/*--Overlay--*/
.display-none {
  display: none;
}

.overlay-box {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottone {
  padding: 10px 15px;
  margin-bottom: 40px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bottone:hover {
  background-color: gray;
}

/* ===== media query =====*/
@media (max-width: 1280px) {
  .container {
    max-width: 1100px
  }
}

@media (max-width: 1150px) {
  .container {
    max-width: 800px
  }

  .col {
    width: calc(95% / 2);
  }
}


@media (max-width: 768px) {
  .container {
    max-width: 400px
  }

  .col {
    width: calc(100% / 1);
  }
}